html, body{
    position: relative;
}

#header {
    position: absolute;
}

#header.fixed {
    position: fixed;
}

.visual {
    position: relative;
    height: 100lvh;
}

#homeContent, #content {
    position: relative;
    background: #c9daf8;
    padding: 0 0 64px 0;
}

#content {
    min-height: 100vh;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #fef9e7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

#menu {
    width: 100%;
    height: 100%;
    max-width: 320px;
    background-color: #333;
    color: white;
    position: fixed;
    left: -100%;
    top: 0;
    transition: left 0.3s ease;
}

#menu.open {
    left: 0;
}

#menu ul {
    list-style: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

#menu ul li a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

#menuOpenButton {
    cursor: pointer;
    margin: 0 5px 0 0;
}

#menuCloseButton {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .container {
        padding: 10px;
    }

}