html, body{
    position: relative;
}

#date {
    text-align: center;
    display: inline-block;
}

#dateMonth {
    padding: 0;
    border-radius: 10px 10px 0 0;
}

#dateDay {
    padding: 0;
    border-radius: 0 0 10px 10px;
    font-size: 2em;
}

#loadingWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #333;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading {
    position: relative;
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

#progress {
    height: 20px;
    width: 0;
    background: #895129;
    transition: width 0.4s;
}

#header {
    position: absolute;
    height: 64px;
}

#header.fixed {
    position: fixed;
}

#visual {
    position: relative;
    overflow: hidden;
}

#homeContent, #content {
    position: relative;
    background: #c9daf8;
}

#homeContent{
    padding: 0 0 88px 0;
}

#content {
    min-height: 100vh;
    padding: 64px 0 88px 0;
}

.remarks {
    border-radius: 10px;
    border: 2px dashed #999;
    padding: 0.3rem;
    margin: 0 0 20px 0;
}

.remarks ul {
    padding-left: 1.25rem;
    margin-bottom: 0;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #895129;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

#menu {
    width: 100%;
    height: 100%;
    max-width: 320px;
    background-color: #333;
    color: white;
    position: fixed;
    left: -100%;
    top: 0;
    transition: left 0.3s ease;
}

#menu.open {
    left: 0;
}

#menu ul {
    list-style: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

#menu ul li a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

#menuOpenButton {
    cursor: pointer;
    margin: 0 5px 0 0;
}

#menuCloseButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    body {
        font-size: 0.8rem;
    }

    .container {
        padding: 10px;
    }

}

@media only screen and (max-width: 375px) {

    .dateChecker > span {
        width: 100%
    }

}